@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.menu{
    display:none;
}
ul{
    background-color: #1E1E1E;
    display: flex;
    height: 15vh;
    color:aliceblue;
    align-items: center;
    justify-content: space-evenly;
}
li{
    list-style: none;
    font-family: 'Mooli', sans-serif;
    font-size: 1.8rem;
    cursor:pointer;
}
.banner{
    width: 98.8vw;
    height: 50vh;
}
.PrimeiroTrio{
    display:flex;
    justify-content: space-evenly;
    margin:4rem;
    height: 60vh;
    cursor:pointer;

}
.SegundoTrio{
    display:flex;
    justify-content: space-evenly;
    margin:4rem;
    height: 60vh;
    cursor:pointer;

}
.rodape{
    display:flex;
    justify-content: space-between;
    background-color: #1E1E1E;
}
h3{
    align-items: center;
    margin-top: 5%;
    color:aliceblue;
}
.footer-btn{
    display: none;
    padding: 0.3em 1.5em;
    border: 1px solid #707070;
    background-color: #083848;
    color: #CCCCCC;
}
@media (max-width:702px) {
     .banner{
        width:100%;
     }
     .PrimeiroTrio, .SegundoTrio{
       flex-direction: column;
       justify-content: center;
       width: 38%;
       height: 38%;
       margin-left:40%;
       cursor:pointer;
    }
} 
@media (max-width:510px){
    ul{
        display:none;

    }
    h3{
        display:none;
    }
    .banner{
        width: 100%;
        height: 80%;
    }
    .rodape{
        display:flex;
        justify-content: center;
        height: 20%;
    }
}@media(max-width:510px){
    .menu{
        display:initial;
        width: 28px;
        height: 28px;
        cursor: pointer;
    }
    .footer-btn{
        display: initial;
        display:flex;
        justify-content: space-evenly;
        border:solid rgb(127, 126, 90);
    }
}
